svg {
  margin: 24px auto;
  display: block;
  border: 1px solid #1C242D;
  background-position: center;
  background-repeat: no-repeat;
}

.chart rect {
  fill: #FF0017;
  stroke: black;
}

.chart text {
  font: 14px sans-serif;
  text-anchor: end;
}

rect.color-green {
  fill: #2AFE52;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.tick text {
  font: 10px sans-serif;
}

text.title-text {
  fill: #eee;
  font-size: 24px;
  font-family: sans-serif;
}

text.label-text {
  fill: #eee;
  font-size: 14px;
  font-family: sans-serif;
}

text.y-label {
  font-size: 20px;
  font-weight: bold;
}

text.radiant {
  fill: #118728;
}

text.dire {
  fill: #8B0007;
}

path.domain {
  stroke: #525252;
}

.tick > line {
  stroke: #525252;
}

.tick > text {
  font-size: 12px;
  fill: #525252;
}

.game-stat-table {
  font-family: sans-serif;
  font-size: 16px;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid #1C242D;
  min-width: 200px;
  min-height: 120px;
  background-position: center;
  background-repeat: no-repeat;
}

.game-stat-table > thead {
  background: #222;
}

.game-stat-table th {
  text-align: left;
  font-family: 'Cinzel', serif;
}

.game-stat-table th, td {
  padding: 10px 16px;
}

.game-stat-table td {
  border-bottom: 3px solid #242F39;
}

.game-stat-table tr > td:first-child {
  color: white;
  text-shadow: 0px 0px 2px #0a0a0a;
  width: 50px;
  background-size: cover;
}

.radiant {
  background: #313C36;
}

.radiant:nth-child(2n) {
  background: #2B3638;
}

.radiant > td:nth-child(3) {
  color: #92A525;
}

.dire {
  background: #373037;
}

.dire:nth-child(2n) {
  background: #2D3038;
}

.dire > td:nth-child(3) {
  color: #C23C2A;
}

.win-text {
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 18px;
}

.win-text > text {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-family: 'Cinzel', serif;
}

text.Radiant-text {
  color: #118728;
}

text.Dire-text {
  color: #8B0007;
}
