svg {
  margin: 10px auto;
  display: block;
}

.chart rect {
  fill: #FF0017;
}

.chart text {
  font: 14px sans-serif;
  text-anchor: end;
}

rect.color-green {
  fill: #2AFE52;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.tick text {
  font: 10px sans-serif;
}

text.title-text {
  color: black;
  font-size: 24px;
  font-family: sans-serif;
}

text.label-text {
  font-size: 14px;
  font-family: sans-serif;
}

text.y-label {
  font-size: 20px;
  font-weight: bold;
}

text.radiant {
  fill: #118728;
}

text.dire {
  fill: #8B0007;
}
